body {
    background-color: antiquewhite;
}

#menu-bar-container {
    display: inline-block;
}

.menu-item {
    display: inline-block;
    position: relative;
    width: 130px;
    height: 50px;
    text-align: center;
    background-color: white;
    border: 2px solid gray;
    transition: 0.2s background-color ease;
}

.menu-item .hidden-item-container {
    position: absolute;
    opacity: 0;
    align-content: center;
    background-color: white;
    border: gray;
    width: 100%;
    transition: 0.2s opacity ease;
    border-radius: 5px;
    border: 1px solid gray;
}

.menu-item .hidden-item-container a {
    margin: 0;
    display: block;
    text-align: center;
    width: 100%;
    height: 50px;
    text-decoration: none;
    color: black;
    transition: 0.2s background-color ease;
}

.menu-item .hidden-item-container a:hover {
    background-color: gray;
}

.menu-item:hover {
    background-color: gray;
}

.menu-item:hover .hidden-item-container {
    opacity: 1;
}

